---
// @ts-nocheck
import MainLayout from "$layouts/MainLayout.astro";
import PostListing from "$components/PostListing.astro";

import { PAGE_SIZE } from "$scripts/globals.js";

import { filterBlogPosts } from "$scripts/utils.js";

export const getStaticPaths = async ({ paginate }) => {
  const posts = await Astro.glob("../../content/posts/*.mdx");
  const filteredPosts = filterBlogPosts(posts);

  return paginate(filteredPosts, {
    pageSize: PAGE_SIZE,
  });
};

const { page } = Astro.props;
---

<div>{page.currentPage}</div>

<MainLayout title="rogerpence.com | Blog">
  {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
  {page.url.next ? <a href={page.url.next}>Next</a> : null}

  <div class="blog-listing">
    <div>
      {page.data.map((post) => <PostListing {post} />)}
    </div>
  </div>
</MainLayout>

<style>
  div.blog-listing {
    margin: 0 auto;
    border: 1px solid blue;
  }
</style>
