---
// @ts-nocheck
import PostListing from "$components/PostListing.astro";

import { PAGE_SIZE } from "$scripts/globals.js";

import { filterBlogPosts } from "$scripts/utils.js";
import ContentLayout from "$layouts/ContentLayout.astro";

import { getCollection, getEntryBySlug } from "astro:content";

import { filterBlogPosts } from "$scripts/utils.js";
import ContentLayout from "$layouts/ContentLayout.astro";

export const getStaticPaths = async ({ paginate }) => {
  const posts = await getCollection("posts");
  const filteredPosts = filterBlogPosts(posts, {
    filterOutDrafts: false,
    filterOutFuturePosts: false,
  });

  return paginate(filteredPosts, {
    pageSize: PAGE_SIZE,
  });
};

const { page } = Astro.props;
---

<div>{page.currentPage}</div>

<ContentLayout title="rogerpence.com | Blog">
  <div class="blog-listing">
    {page.data.map((post) => <PostListing {post} collection_name="posts" />)}

    <div>
      {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
      {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </div>
  </div>
</ContentLayout>

<style>
  div.blog-listing {
    margin: 0 auto;
    border: 1px solid blue;
  }
</style>
