---
import ContentLayout from "$layouts/ContentLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

import { filterBlogPosts } from "$scripts/utils.js";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  //   const flattenedPosts = posts.reduce((acc, post) => {
  //     if (post.data.tags.includes(tag)) {
  //       acc.push(post);
  //     }
  //     return acc;
  //   }, []);

  //   flattenedPosts.forEach((post) => {
  //     console.log(post.data.title);
  //   });

  //   const filteredPosts = posts.filter((post) =>
  //     post.data.tags.includes("astro")
  //   );

  return [
    { params: { tag: "astro", title: "bob1" } },
    { params: { tag: "successes", title: "bob2" } },
    { params: { tag: "community", title: "bob3" } },
    { params: { tag: "blogging", title: "bob4" } },
    { params: { tag: "setbacks", title: "bob5" } },
    { params: { tag: "learning in public", title: "bob6" } },
  ];

  //const { tag } = Astro.params;
}
---

<ContentLayout title="rogerpence.com | Blog">
  <div></div>
</ContentLayout>
