---
import MainLayout from "$layouts/MainLayout.astro";
import PostListing from "$components/PostListing.astro";

import { filterBlogPosts } from "$scripts/utils.js";
import ContentLayout from "$layouts/ContentLayout.astro";

const posts = await Astro.glob("../content/posts/*.mdx");
const filteredPosts = filterBlogPosts(posts, { limit: 1 });

console.log(posts.length);
---

<ContentLayout title="rogerpence.com | Blog">
  <div>
    {filteredPosts.map((post) => <PostListing {post} />)}
  </div>
</ContentLayout>
