---
import MainLayout from "$layouts/MainLayout.astro";
import PostListing from "$components/PostListing.astro";

import { filterBlogPosts } from "$scripts/utils.js";

const posts = await Astro.glob("../content/posts/*.mdx");
const filteredPosts = filterBlogPosts(posts);

console.log(posts.length);
---

<MainLayout title="rogerpence.com | Blog">
  <div class="blog-listing">
    <div>
      {filteredPosts.map((post) => <PostListing {post} />)}
    </div>
  </div>
</MainLayout>

<style>
  div.blog-listing {
    margin: 0 auto;
    border: 1px solid blue;
  }
</style>
