---
import MainLayout from "$layouts/MainLayout.astro";
import PostListing from "$components/PostListing.astro";

import { getCollection, getEntryBySlug } from "astro:content";

import { filterBlogPosts } from "$scripts/utils.js";
import ContentLayout from "$layouts/ContentLayout.astro";

// //const posts = await Astro.glob("../content/posts/*.mdx");
const posts = await getCollection("posts");

const options = {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
  sortByDate: true,
};

const filteredPosts = filterBlogPosts(posts, options);

const post = {
  data: {
    description: "home page",
  },
};
---

<ContentLayout title="rogerpence.com | Blog" {post}>
  <div>
    <a href="/api/tags.json">show tags</a>
  </div>

  <div>
    {filteredPosts.map((post) => <PostListing {post} />)}
  </div>
</ContentLayout>
