---
import { Icon } from "astro-icon/components";
import MainNav from "./MainNav.astro";
---

<header class="site__header">
  <!-- <Icon name="rp" /> -->
  <div class="nav-wrapper">
    <div><a href="/">rogerpence.com</a></div>

    <MainNav />
  </div>
</header>
