<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta
    data-pagefind-index-attrs="content"
    name="description"
    content="hello from description meta data"
  />

  <!-- roger pence -->

  <title>{Astro.props.title}</title>

  <script is:inline src="/pagefind/pagefind-ui.js"></script>
</head>
