<div class="pagefind-search-wrapper">
  <div class="pagefind-search-input" id="search"></div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      // @ts-ignore
      new PagefindUI({
        element: "#search",
        showSubResults: false,
        showImages: false,
        pageSize: 5,
        debounceTimeoutMs: 500,

        processTerm: (term) => {
          return term;
        },

        processResult: (result) => {
          result.excerpt = `<span class='pagefind-desc'>${result.meta.description}</span><br><span class='pagefind-tags'>tags: ${result.meta.tags}</span>`;

          //console.log("result", JSON.stringify(result, null, 4));

          return result;
          //console.log("✌️result --->", result);
        },
      });

      document.addEventListener("keydown", function (event) {
        if (event.key == "Escape") {
          const btn = document.querySelector(
            "button.pagefind-ui__search-clear"
          );
          // @ts-ignore
          if (btn) btn.click();
        }
      });

      window.addEventListener("keydown", (event) => {
        if (event.key === "/" || event.key === ".") {
          event.preventDefault();
          // @ts-ignore
          document.querySelector("div#search input").focus();
        }
      });
    });
  </script>
</div>
