---
import { slugify, getContentData, formatDate } from "$scripts/utils.js";

const { post } = Astro.props;
// const { title, description, draft, date_published } = post.data;
// const slug = "slug";

const { title, description, date_published, slug } = getContentData(post);
---

<div class="post-detail">
  <a href={`${slug}`}>
    {title}
    <div class="post-description">
      {date_published == "N/A" && <span class="draft-post-tag">Draft</span>}
      {date_published != "N/A" && `${formatDate(date_published)}`}
      {description}
    </div>
  </a>
</div>
