body {
    background-color:var(--page-bg-color);
    color: var(--accent-color);
}

footer {
    background-color: purple;
    position: sticky;
    bottom: 0;  
    background-color: var(--accent-color);  
}

.site
{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.site__header {
    position: sticky;
    top: 0; 
    background-color: var(--brand-color);

}

div.content {
    margin-block: 3rem 1rem;
}

div.use-sidebar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    margin: 0 auto; 
    max-width: 1080px;
    background-color: whitesmoke;
}

div.content-section {
    padding-inline: 3rem;
    padding-block: 3rem;
    background-color: whitesmoke;
    color: black;
    /* box-shadow: 25px 0px 10px -20px rgba(0,0,0,0.20),
    -25px 0px 10px -20px rgba(0,0,0,0.20); */
}

a { 
    color: inherit;
}

:where(a:not([class])), .default-anchor {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: .3rem;
    text-decoration-style: solid;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 1px;  
    transform: all 10s ease-in;
}    

:where(a:hover:not([class])), .default-anchor {
    text-decoration-thickness: 3px;
}



