@layer base;

/* 
 | Select h tag if followed by ul or ol. 
 */
h2:has(+ul), 
h2:has(+ol),
h3:has(+ul), 
h3:has(+ol),
h4:has(+ul), 
h4:has(+ol) 
{
    margin-top: 2rem;
}
 
/* 
 | Select p tag if followed by ul or ol. 
 */
p:has(+ul), 
p:has(+ol)
{
    margin-bottom: .5rem;
}

/* 
 | Select ul or ol.
 */
 ul, ol {
    list-style-type: disc;
    margin-left: 2rem; 
    font-size: inherit;
}

/* 
 | Select ur or ol tag if followed by p tag.
 */
 ul:has(+p), ol:has(+p) {
    margin-bottom: 1rem;
}
 
li {
    line-height: var(--font-lineheight-3);    
}

p {
    margin-bottom: var(--size-4);
    line-height: var(--font-lineheight-3);
}