@layer base;

:root {
    @custom-media --media-small       (width <= 768px); 
    @custom-media --media-medium      (width >  768px) and (width <= 1024px); 
    @custom-media --media-large       (width > 1024px) and (width <= 1920px); 
    @custom-media --media-jumbo       (width > 1920px);

    @custom-media --lt-large       (width <  1024px);
    @custom-media --eq-small       (width <= 768px); 
    @custom-media --eq-medium      (width >  768px) and (width <= 1024px); 
    @custom-media --eq-large       (width > 1024px) and (width <= 1920px); 
    @custom-media --eq-jumbo       (width > 1920px);

    --default:                 red;

    --brand-color:             oklch(63.28% 0.04 198.661);
    --accent-color:            oklch(86.03% 0.02 51.120);

    --primary-bg-color:        oklch(37.46% 0.01 229.103);
    --secondary-bg-color:      oklch(50.76% 0.01 214.387);

    --page-bg-color:           var(--primary-bg-color);

    --pre-bg-color:            color-mix(in srgb, var(--page-bg-color), black 10%);
    --code-bg-color:           color-mix(in srgb, var(--page-bg-color), black 5%);
    --header-bg-color:         #fff;
    --footer-bg-color:         #2b2b2b;

    /* --source-code-bg-color:    oklch(from var(--primary-bg-color) calc(l * .35) c h); */
    --source-code-bg-color:    #1D1D1D

    --source-code-color:       black;

    --nav-bg-color:            var(--gray-3);        
    --nav-bg-color-hover:      color-mix(in srgb, var(--nav-bg-color), white 25%);
    --nav-color:               var(--gray-9);
    --nav-item-hover-bg-color: var(--gray-7);
    --sidebar-bg-color:        #ebebeb;

    --anchor-text-color:       var(--default);
    --anchor-underline-color:  var(--accent-color);
    --anchor-hover-color:      var(--default);

    --button-bg-color:         var(--default);
    --button-text-color:       var(--default);

    --menu-active-bg-color:    var(--default);
    --menu-bg-color:           var(--default);

    --text-color:              #191818;
    --text-color-light:        whitesmoke;
    --text-color-light-dim:    color-mix(in srgb, var(--text-color-light), black 30%);
   
    --danger-bg-color:         var(--red-9);
    --error-bg-color:          var(--red-9);
    --info-bg-color:           var(--brown-6);
    --ok-color:                var(--green-9);
    --warning-bg-color:        var(--yellow-6);        
    --ok-cancel-color:         var(--indigo-6);

    --small-radius:  var(--size-1);

    --input-element-spacing: var(--size-5);

    --space-after-h1: var(--size-4);
    --paragraph-spacing: var(--size-2);

    --paragraph-text-size: 1.125rem;
    --max-width: 90ch; 

    --astro-code-color-text: azure;
    --astro-code-color-background: color-mix(in srgb, var(--page-bg-color), black 60%);
    --astro-code-token-constant: plum;
    --astro-code-token-string: orchid;
    --astro-code-token-comment: salmon;
    --astro-code-token-keyword: powderblue;
    --astro-code-token-parameter: seashell;
    --astro-code-token-function: dodgerblue;
    --astro-code-token-string-expression: burlywood;
    --astro-code-token-punctuation: linen;
    --astro-code-token-link: honeydew;    
}

