.pagefind-ui {
    z-index: 25000;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.pagefind-ui__result {
    padding-block: .5rem 1rem !important;
    border-top: 1px solid darkgray !important;
}


.pagefind-ui__search-input {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
}
.pagefind-ui__result:last-of-type {
    border-bottom: unset !important;
}

button.pagefind-ui__search-clear {
    font-size: .8rem !important;
    color: rgb(76, 73, 73) !important;
}

.pagefind-ui__result-tags {
    display: none !important;
}

.pagefind-desc {
    color: gray;
    font-size: .9rem;
    padding-inline-start: 1rem;
}

.pagefind-tags {
    color: gray;
    font-size: .8rem;
    font-style: italic;
    padding-inline-start: 2rem;
}

.pagefind-ui__drawer {
    --pagefind-ui-scale: .8;
    --search-results-max-width: 800px; 
    overflow-y: scroll !important;

    max-height: 80vh;

    position: fixed;
    width: var(--search-results-max-width);    
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
   
    background-color: #e1dedd;
    border: lightgray 1px solid;
    padding-inline: 1rem;    
    border-radius: .4rem;
    box-shadow: 18px 18px 17px -3px rgba(0,0,0,0.1);

    @media (width < 850px) {
        --search-results-max-width: 400px; 
    }
}

.pagefind-ui__message {
    padding-top: 0 !important;
    
    
}

.pagefind-ui__button {
    margin-bottom: 1rem !important;
    background-color: blue !important;
    color: white !important;
}


[dbg] {
    outline: 1px solid blue;
}

:root {
    --pagefind-ui-scale: .7;
} 