.pagefind-ui {
    z-index: 25000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagefind-ui__result {
    padding-block: .5rem 1rem !important;
}

button.pagefind-ui__search-clear {
    font-size: .8rem !important;
    color: rgb(76, 73, 73) !important;
}

.pagefind-search-wrapper {
    position: relative;
} 


.pagefind-ui__drawer {
    --pagefind-ui-scale: .8;
    --search-results-max-width: 800px; 

    position: absolute;
    width: var(--search-results-max-width); 
    
    top: 2.5rem;
    left: 50%;    

    margin-left: calc((var(--search-results-max-width) / 2) * -1); 
   
    background-color: white;
    border: lightgray 1px solid;
    padding-inline: 1rem;
    border-radius: .4rem;
    box-shadow: 18px 18px 17px -3px rgba(0,0,0,0.1);

    @media (width < 850px) {
        --search-results-max-width: 400px; 
    }

}

.pagefind-ui__message {
    padding-top: 0 !important;
    
    
}


[dbg] {
    outline: 1px solid blue;
}

:root {
    --pagefind-ui-scale: .6
} 