---
export const prerender = false;

import ContentLayout from "$layouts/ContentLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

const { tag } = Astro.params;

const posts = await getCollection("posts");
console.log(posts[0].data.tags);

const filteredPosts = posts.filter((post) => {
  return post.data.tags.includes(tag.trim());
});

//console.log("tag", tag);
console.log(filteredPosts);
---

<ContentLayout title="rogerpence.com | Blog">
  <div>
    {filteredPosts.map((post) => <div>{post.data.title}</div>)}
  </div>
</ContentLayout>
