---
//import MainLayout from "$layouts/MainLayout.astro";
//import PostListing from "$components/PostListing.astro";

import { filterBlogPosts } from "$scripts/utils.js";
import ContentLayout from "$layouts/ContentLayout.astro";

import { getAstroDataFromGlobObj, getTagsFromPosts } from "$scripts/utils.js";

import { getCollection, getEntryBySlug } from "astro:content";

const posts = await getCollection("posts");
const filteredPosts = filterBlogPosts(posts);

//console.log(posts[0].data);

// Get tag list with count.
// result =
// tags [
//   { tag: 'sql-server', count: 1 },
//   { tag: 'cs', count: 1 },
//   { tag: 'astro', count: 2 },
//   { tag: 'html', count: 1 },
//   { tag: 'css', count: 1 }
// ]

const tags = getTagsFromPosts(posts);
console.log(tags);
---

<ContentLayout title="rogerpence.com | Blog">
  <div>
    {
      tags.map((tag) => (
        <div>
          <a href={`/tags/${tag.tag}`}>{tag.tag}</a>
        </div>
      ))
    }
  </div>
</ContentLayout>
