---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<div class="content">
  <div class="use-sidebar">
    <article class="column-main">
      <h1>{frontmatter.title}</h1>
      <slot />
    </article>
    <aside>
      <div>Sidebar is gonna go here.</div>
    </aside>
  </div>
</div>
